/* MainDashboard.module.css */
.mainDashboard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(
    --column-background-main
  ); /* Dark background for main dashboard */
}

.columnsContainer {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  align-items: flex-start;
  padding-bottom: 20px; /* Ensure space at the bottom for scrolling */
}

.addColumnButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 334px;
  height: 56px;
  border-radius: 8px;
  background: var(--column-background-main); /* Same background as columns */
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.3s;
}

.addColumnButton:hover {
  opacity: 0.8;
}

.addIconBox {
  width: 28px;
  height: 28px;
  background: #161616; /* Dark background for icon box */
  color: #fff; /* White text for icon */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.addText {
  width: 177px;
  height: 28px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
}
