.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  background: #121212;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: 455px;
}

.closeButton {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
}

h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: left;
}

.authFormField {
  border: 1px solid #bedbb0;
  border-radius: 8px;
  width: 352px;
  height: 49px;
  background: none;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  padding-left: 10px;
  margin-bottom: 15px;
}

.authFormField::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
}

.authFormSubmitButton {
  background: #bedbb0;
  border-radius: 8px;
  width: 352px;
  height: 49px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #161616;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.authFormSubmitButton:hover {
  background: #a8c89d;
}

.imageWrapper {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #bedbb0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: auto;
  margin-bottom: 20px;
}

.userImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.defaultSvg {
  width: 56px;
  height: 48px;
  fill: #151515;
}

.uploadBtn {
  position: absolute;
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  background-color: #a8c89d;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.uploadBtn svg {
  width: 14px;
  height: 14px;
  fill: #161616;
}

.hiddenInput {
  display: none;
}

.authFormPasswordIcon {
  position: absolute;
  right: 40px;
  bottom: 105px;
}
