.screensPage {
  flex: 1;
  padding: 20px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 10px;
}

/* Theme Colors */
.light {
  background: white;
  color: black;
}

.violet {
  background: #7e57c2;
  color: white;
}

.dark {
  background: #333;
  color: white;
}
