.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  position: relative; /* Pentru a poziționa butonul de close absolut în interiorul acestui container */
}

.modalContent h2 {
  margin-bottom: 20px;
}

.modalContent input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modalContent button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalContent button[type="submit"] {
  background: #4caf50;
  color: white;
}

.modalContent button[type="button"] {
  background: #f44336;
  color: white;
}

.closeButtonContainer {
  position: absolute;
  top: 10px; /* Distanța de la partea de sus */
  right: 10px; /* Distanța de la partea dreaptă */
}

.closeButton {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #000; /* Culoarea textului */
  padding: 5px; /* Spațiu în jurul butonului */
}

.closeButton:hover {
  color: #4caf50; /* Schimbă culoarea la hover */
  background-color: transparent; /* Asigură-te că fundalul rămâne transparent */
}
