/* ColumnTask.module.css */

/* General Styles */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 334px; /* Fixed width for consistency */
  background-color: var(--column-background-main); /* Match board background */
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.title {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.iconWrapper {
  display: flex;
  gap: 8px;
}

.editButton,
.deleteButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.editButton svg,
.deleteButton svg {
  width: 18px;
  height: 18px;
  stroke: white;
  stroke-opacity: 0.5;
  stroke-width: 1.3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.editButton:hover svg,
.deleteButton:hover svg {
  stroke-opacity: 1;
}

/* Task List Styles */
.taskList {
  display: flex;
  flex-direction: column;
  gap: 12px; /* Consistent spacing between cards */
  margin-bottom: 12px; /* Same spacing between last card and "Add Another Card" button */
}

/* Add Card Button */
.addCardButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  background: #bedbb0; /* Green button */
  color: #161616;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.addCardButton:hover {
  opacity: 0.8;
}

.addCardIconBox {
  width: 28px;
  height: 28px;
  background: #161616;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.addCardText {
  width: 177px;
  height: 28px;
  display: flex;
  align-items: center;
}

/* Dropdown Styles */
.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--column-background-main);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 8px;
  z-index: 10;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
