:root {
  font-family: 'Poppins', sans-serif;
  --column-background-main: #121212;
  --column-text-main: #fff;
  --column-icon: #666;
  --column-button-color: #fff;
  --column-button-background: #007bff;
  --column-plus-background: #e0e0e0;
  --column-plus-color: #666;
  --scroll-thumb: #888;
  --scroll-track: #f1f1f1;
  --scroll-border: #ccc;
  --plus-color: #00ff9d;
}
